<div class="d-flex flex-wrap">
  <div class="container">
    <img src="assets/images/hospital-image-1.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-2.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-4.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-6.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-5.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-3.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-5.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <img src="assets/images/hospital-image-1.jpg" />
    <div class="overlay"></div>
    <button class="btn delete-btn"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <button class="btn upload-btn">
      <i class="fas fa-upload"></i><br>Upload photos<br><small>You can upload 2 <br> more photos</small>
    </button>
  </div>
</div>
