.container {
    position: relative;
    margin: 0.5rem;
    width: 10.5rem;
    height: 7.5rem;
}

.overlay {
    position: absolute;
    width: 10rem;
    height: 7.5rem;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

.container:hover img, .overlay {
    transform: scale(1.1);
}

img {
    position: absolute;
    width: 10rem;
    height: 7.5rem;
}

.delete-btn {
    position: absolute;
    width: 8rem;
    margin: 0.5rem;
    top: 10%;
    opacity: 0;
    color: white;
}

.container:hover .delete-btn {
    opacity: 1;
}

.upload-btn {
    width: 10rem;
    height: 7.5rem;
    border: 1px solid #b2b2b2;
    background: #f3f3f3;

}

small {
    opacity: 0.5;
}

.delete-txt {
    padding-left: 0.25rem;
}
