<div class="d-flex flex-wrap">
  <div class="container" *ngFor="let photo of photos let i = index">
    <img src="assets/images/hospital-image-{{photo}}.jpg" alt="hospital image"/>
    <div class="overlay"></div>
    <button class="btn delete-btn" (click)="removeImage(i)"><i class="far fa-trash-alt"></i><span class="delete-txt">Delete</span></button>
  </div>

  <div class="container">
    <button class="btn upload-btn">
      <i class="fas fa-upload"></i><br>Upload photos<br><small>You can upload 2 <br> more photos</small>
    </button>
  </div>
</div>
