.content {
    margin-left: 5rem;
    margin-top: 2rem;
}

.container {
    margin-left: 0.5rem;
}

.subHeadings h6{
    font-weight: bold;
}

.btn-outline-primary {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.btn-edit {
    opacity: 0.5;
    margin-left: 2rem;
}

.edit-txt {
    margin-left: 0.5rem;
}

.title, .address {
    padding-bottom: 1rem;
}

h5, h6 {
    padding-top: 1rem;
}

.btn-primary {
    background: #23ac88;
    width: 6rem;
    height: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
