small {
    padding-left: 0.25rem;
}

.container {
    width: 13rem;
    height: 15rem;
    margin: 0.5rem;
}

.container img {
    width: 13rem;
    height: 9rem;
}

.add-btn {
    width: 13rem;
    height: 9rem;
}

.fa-plus-circle {
    color: #36a993;
}
