<div class="d-flex flex-wrap">
  <div class="container" *ngFor="let accreditation of accreditations let i=index">
    <img src="assets/images/accreditation.jpg">
    <!--<div class="description">Name of the accreditation</div>-->
    <button class="btn" (click)="removeAccreditation(i)"><i class="far fa-trash-alt fa-ms"></i><small>Delete</small></button>
  </div>

  <div class="container">
    <button class="btn add-btn" (click)="addAccreditation()">
      <i class="fas fa-plus-circle fa-2x"></i><br>Add accreditation
    </button>
  </div>

</div>
