small {
    padding-left: 0.25rem;
}

.container {
    width: 14rem;
    height: 16rem;
    margin: 0.25rem;
}

.container img {
    width: 14rem;
    height: 9rem;
}

.add-btn {
    width: 13rem;
    height: 9rem;
}

.fa-plus-circle, .fa-check-circle {
    color: #36a993;
}

.description {
    font-size: 0.9rem;
}

.form-control {
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
}

.fa-times-circle {
    color: #a00000;
}
