.sidebar-header {
    width: 100px;
    height: 75px;
    margin: 0 0 0 30px;
}

#sidebar {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 100vh;
    background: #fff;
}

#sidebar ul li {
    padding: 8px 0 8px 0;
    display: block;
}

i {
    margin-right: 5px;
}
