.sidebar-header {
    width: 7.5rem;
    height: 5rem;
    margin: 0 0 0 3rem;
}

#sidebar {
    min-width: 15rem;
    max-width: 15rem;
    min-height: 100vh;
    background: #fff;
}

#sidebar div {
    padding: 0.5rem 0 0.5rem 0;
    display: block;
}

i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.active{
    background: rgba(64, 255, 83, 0.29) !important;
    color: green !important;
}
 .nav-link {
     color: #000 !important;
 }

 .active .nav-link {
     color: green !important;
 }
