<!-- main app container -->

<form novalidate [formGroup]="contactsForm">

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label justify-content-end" for="email">E-mail</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" id="email"
                   type="email" formControlName="email"
                   [ngClass]="{'is-invalid': (contactsForm.get('email').touched || contactsForm.get('email').dirty) && contactsForm.get('email').invalid}" />
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('email').errors?.required">
                    Email is required
                </span>
                <span *ngIf="contactsForm.get('email').errors?.email">
                    Enter valid email address
                </span>
            </span>
        </div>
    </div>

    <div formArrayName="contactNumbers">
        <div *ngFor="let contactNumber of formArr.controls; let i=index"  [formGroupName]="i">
            <div class="form-group d-flex mb-2">
                <label class="col-md-2 col-form-label" for="contactNumber">Contact Number</label>
                <div class="col-md-8">
                    <input class="form-control form-control-lg" id="contactNumber"
                           type="tel" formControlName="contactNumber">
                    <small *ngIf="(formArr.controls[i].controls.contactNumber.touched || formArr.controls[i].controls.contactNumber.dirty) && formArr.controls[i].controls.contactNumber.invalid" class="text-danger">
                        Contact Number is required
                    </small>
                </div>
                <div class="col-md-1">
                    <button class='btn btn-xs btn-primary-outline' *ngIf="formArr.controls.length - 1 > i" (click)="removeContactNumber(i)">
                        <i class="far fa-trash-alt"></i><br><small>Delete</small>
                    </button>
                    <button class='btn btn-xs btn-primary-outline' *ngIf="i === formArr.controls.length - 1" (click)="addNewContactNumber()">
                        <i class="fas fa-plus-circle"></i><br><small>Add</small>
                    </button>

                </div>
            </div>
        </div>
    </div>


    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="fax">Fax</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" id="fax"
                   type="text" formControlName="fax" />
        </div>
    </div>

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="website">Website Url</label>
        <div class="col-md-9">
            <input class="form-control form-control-lg" id="website"
                   type="text" formControlName="website"
                   [ngClass]="{'is-invalid': (contactsForm.get('website').touched || contactsForm.get('website').dirty) && contactsForm.get('website').invalid}" />
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('website').errors?.required">
                    Website Url is required
                </span>
            </span>
        </div>
    </div>

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="highlight1">HighLight 1 <br> (Max 100 characters)</label>
        <div class="col-md-9">
            <textarea class="form-control" id="highlight1"
                   formControlName="highlight1"
                      [ngClass]="{'is-invalid': (contactsForm.get('highlight1').touched || contactsForm.get('highlight1').dirty) && contactsForm.get('highlight1').invalid}"></textarea>
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('highlight1').errors?.required">
                    HighLight 1 is required
                </span>
                <span *ngIf="contactsForm.get('highlight1').errors?.maxlength">
                    Highlight 1 can be maximum 100 characters
                </span>
            </span>
        </div>
    </div>

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="highlight2">HighLight 2 <br> (Max 100 characters)</label>
        <div class="col-md-9">
            <textarea class="form-control" id="highlight2"
                      formControlName="highlight2"
                      [ngClass]="{'is-invalid': (contactsForm.get('highlight2').touched || contactsForm.get('highlight2').dirty) && contactsForm.get('highlight2').invalid}"></textarea>
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('highlight2').errors?.maxlength">
                    Highlight 2 can be maximum 100 characters
                </span>
            </span>
        </div>
    </div>

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="highlight3">HighLight 3 <br> (Max 100 characters)</label>
        <div class="col-md-9">
            <textarea class="form-control" id="highlight3"
                      formControlName="highlight3"
                      [ngClass]="{'is-invalid': (contactsForm.get('highlight3').touched || contactsForm.get('highlight3').dirty) && contactsForm.get('highlight3').invalid}"></textarea>
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('highlight3').errors?.maxlength">
                    Highlight 3 can be maximum 100 characters
                </span>
            </span>
        </div>
    </div>

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="description"> Description <br> (Max 300 characters)</label>
        <div class="col-md-9">
            <textarea class="form-control" id="description"
                      formControlName="description" rows="4"
                      [ngClass]="{'is-invalid': (contactsForm.get('description').touched || contactsForm.get('description').dirty) && contactsForm.get('description').invalid}"></textarea>
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('description').errors?.maxlength">
                    Description can be maximum 300 characters
                </span>
            </span>
        </div>
    </div>

    <div class="form-group d-flex mb-2">
        <label class="col-md-2 col-form-label" for="currency"> Currency</label>
        <div class="col-md-9">
            <select class="form-control" formControlName="currency" id="currency" [ngClass]="{'is-invalid': (contactsForm.get('currency').touched || contactsForm.get('currency').dirty) && contactsForm.get('currency').invalid}">
                <option *ngFor="let currency of currencies">{{currency}}</option>
            </select>
            <span class="invalid-feedback">
                <span *ngIf="contactsForm.get('currency').errors?.required">
                    Currency is required
                </span>
            </span>
        </div>
    </div>

</form>

